:root{
    --stepper-bg-color: transparent;        
    --stepper-padding: 7px;
    --stepper-width: min(100%, 800px);
    --stepper-border-radius: 8px;

    --step-bg-color: transparent;
    --step-padding: 3px;
    --step-margin: 2px;
    --step-border-radius: 10px;
    --step-gap: 0px;

    --step-number-font-color: white;
    --step-number-font-size: .8rem;
    --step-number-bg-color: var(--bs-danger-text-emphasis);
    --step-number-diameter: 3rem;

    --step-data-bg: #f8d7da;
    --step-data-border-color: #f1aeb5;
    --step-data-border-radius: 5px;
    --step-data-padding: 14px;
    --step-data-font-color: var(--bs-danger-text-emphasis);
    --step-data-font-size: 0.9rem;
}

stepper{
    position: relative;
    display: block;
    box-sizing: border-box; 
    width: var(--stepper-width);
    background-color: var(--stepper-bg-color);
    padding: var(--stepper-padding);
    border-radius: var(--stepper-border-radius);
}    

    stepper step{
        position: static;
        display: grid;
        box-sizing: border-box;
        padding: var(--step-padding);;
        margin: var(--step-margin);
        background-color: var(--step-bg-color);
        grid-template-columns: var(--step-number-diameter) 1fr;
        border-radius: var(--step-border-radius);
        gap: var(--step-gap);
    }
        step step-number{
            position: static;
            display: flex;
            box-sizing: border-box;
            height: calc(var(--step-number-diameter) - var(--step-padding) - var(--step-padding));
            width: calc(var(--step-number-diameter) - var(--step-padding) - var(--step-padding));
            clip-path: circle(49%);
            background: var(--step-number-bg-color);                
            justify-content: center;
            align-items: center;
            color: var(--step-number-font-color);
            font-size: var(--step-number-font-size);
            /* font-weight: bold; */
        }
        step step-data{
            position: static;
            display: inline-block;
            box-sizing: border-box;
            background: var(--step-data-bg);
            text-wrap: wrap;                               
            border-radius: var(--step-data-border-radius);
            padding: var(--step-data-padding);
            color: var(--step-data-font-color);
            font-size: var(--step-data-font-size);
            border: 1px solid var(--step-data-border-color);         
        }

/* HTML EXAMPLE */ 
/*
    <stepper>
        <step>
            <step-number>1</step-number>
            <step-data>Descripción</step-data>
        </step>
        <step>
            <step-number>2</step-number>
            <step-data>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                natoque penatibus et magnis dis parturient montes, nascetur 
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque 
                eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </step-data>
        </step>
        <step>
            <step-number>3</step-number>
            <step-data>Descripción 3</step-data>
        </step>
    </stepper>    
*/