.layout-5{
    width: 100%;
    height: 100%;
    /* background: lightblue; */
    padding-left: 6mm;

    /* *{
         border: 0.5mm dashed blue; 
    } */

    article{
        float:left;
        /* width: 50%; */
    }

    img{
        width: 50%;
        object-fit: contain;
        border-radius: 3mm;
        float: right;
        position:relative;
    } 

    ol, ul {
        line-height: 1.6;
        padding-left: 25px;
    }
    
    li {
        margin-bottom: 12px;
    }
}