@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color_title: #454C02;
    --color_light: #01b8ee;
    --color_gray_medium: #808080;
    --color_gray_dark: #252525;
}

/* TIPOGRAFIA */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
    display: block;
    margin-block-end: 0.3em;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;    
    line-height: 1.2;
}

h1{
    font-size: 12mm !important;    
    color: var(--color_title) !important;
    opacity: 0.6;
    font-weight: 900 !important;
}


h2{
    font-size: 5mm !important;
    color: var(--color_gray_medium) !important;
    font-weight: 400;
}

h3{
    font-size: 4mm !important;    
    color: var(--color_light)!important;
    font-weight: 400;
}


em{
    font-style: italic;
    color: var(--color_gray_dark)!important;
}

em2{
    color:  #01b8ee !important; 
    font-weight: bold;
}

em3{
    color:  #094a5e !important; 
    font-weight: bold;
}

em4{
    color:  #202020 !important; 
    font-weight: bold;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0 auto;
    padding-bottom: 150mm;
    font-size: 3.2mm !important;
}

ul, ol, dl{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}